header {
    width: 80%;
    margin: 0 auto;
    margin: 0 auto;
  }
  .header-inner {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
  }
  
  .search-container {
    width: 50%;
    margin: 0 auto;
  }
  
  .search-form {
    display: flex;
  }
  
  .search-bar {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px; 
  }
  
  .search-btn {
    width: 20%;
    padding: 12px; /* パディングを増やしてボタンを大きくする */
    font-size: 16px; /* フォントサイズを大きくして読みやすくする */
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
    transition: background-color 0.3s ease; /* 背景色の変化にアニメーションを適用 */
  }
  
  .search-btn:hover {
    background: #0056b3; /* ホバー時に背景色を少し暗くする */
  }
  
  
  .auth {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
  }
  
  .auth button {
    padding: 8px 12px;
    background: #007bff; 
    color: #fff;
    border: none;
    border-radius: 4px;
  } 
  .navigation-menu {
    width: 100%; 
  }
  
  .navigation-menu ul {
    list-style: none;
    display: flex; 
    justify-content: center; 
    padding: 0;
  }
  
  .navigation-menu a {
    color: #000000;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
  }
  
  /* 768px以下に適用 */
  @media screen and (max-width: 768px) {
   
    .navigation-menu {
       width: 100%;
       position: absolute;
       top: 60px;
       left: 0;
       background: #333;
       display: none;
    }
  
    .navigation-menu ul {
      width: 100%;
      flex-direction: column;
    }
    
    .navigation-menu.active {
      display: block;
    }
  
  }
  
  /* ハンバーガーメニューのスタイル */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .header-logo {
    height: 80px; /* ロゴの高さを80pxに変更 */
    width: auto; /* 幅は高さに応じて自動調整 */
    margin-right: 20px; /* ロゴとその他の要素との間隔 */
    float: left; /* ロゴを左寄せにする */
  }
  