
form[name="tourokuform"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
}

input[name="username"],
input[name="password"],
input[name="mail_address"],
select{
    width: 500px;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
}

button[name="touroku"] {
    width: 500px;
    padding: 0.5em;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em;
}


button:hover{
    background-color: #0056b3;
}